.twitter-block{
  background-color: $light_beige;
  margin-top: 85px / $main-pade-width *100%;
}

.twitter-section{
  position: relative;
  width: 100%; 
  max-width: $main-pade-width;
  margin: 0 auto;
  padding:90px / $main-pade-width *100% 0;
  overflow: hidden;
}
.twitter-slider-list{
  position: relative;
  @include clearfix;
    li{
      float: left;
      list-style: none;
      text-align: center;
      width: 100%;
    }
}
.twitter-item-one{
  .twitter-item-one-msg{
    margin-top: 60px / $main-pade-width *100%;
    color: $dark_gray;
    font-size: 24px / $main-fz * 1em;/*24/14*/
      a:link{
        color: $dark_gray;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
  }
  .twitter-item-one-hash{
    color: $light_gray;
    margin-top: 50px / $main-pade-width *100%;
      span{
        margin-left: 5px;
        font-size: 16px / $main-fz * 1em;
      }
  }
}
.twitter-tab{
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  background-color: #cbcfd1;
  display: inline-block;
  width: 12px;
  height: 12px;
  cursor: pointer;
  &.twitter-active, &:hover{
    background-color: $light_red;
  }
}
.twitter-tab-1{
  margin-left: -18px;
}
.twitter-tab-2{
  margin-left: 0px;
}
.twitter-tab-3 {
  margin-left: 18px;
}