body {
  background-color: #fff;
  background: white url("../images/bale_img.jpg") no-repeat bottom center;
  background-size: 100%;
  color: #777b7f;
  font: 14px "HelveticaNeue", "Helvetica", "Tahoma", "Arial", "Lucida Grande", sans-serif;
  padding: 0;
  padding-bottom: 33.51064%;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

ul {
  margin: 0;
  padding: 0; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

a:link {
  text-decoration: none;
  color: #e1574b; }

a:hover {
  text-decoration: underline; }

h2 {
  color: #2b414d;
  font-size: 2.71429em; }

#page {
  width: 100%;
  max-width: 940px;
  margin: 3.57143em auto 0 auto; }

#main-content {
  margin-top: 3.57143em;
  /*50px /14*/ }

.greeting-block {
  color: #2b414d;
  font-size: 2.14286em;
  /*30px / 14*/
  text-align: center; }

.bottom-page {
  width: 100%;
  max-width: 940px;
  margin: 0 auto; }

.bottom-social-icon {
  margin-top: 55px;
  text-align: center; }

.top-border {
  border-top: 1px solid #e4e7e7; }

.bottom-small-line {
  background: url("../images/feature_line_img.png") no-repeat bottom center; }

.btn {
  border: none;
  border-radius: 5px;
  background-clip: padding-box;
  font-size: 1.125rem;
  /*18/16*/
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  cursor: pointer; }
  .btn:focus {
    outline: none; }

.btn-red {
  background-color: #e1574b; }

input {
  outline: none; }

#header {
  *zoom: 1; }
  #header:before, #header:after {
    content: "";
    display: table; }
  #header:after {
    clear: both; }

.header-logo-block {
  float: left; }

.logo-my {
  border-radius: 50%;
  background-clip: padding-box;
  background-color: #e1574b;
  box-sizing: padding-box;
  color: #fff;
  display: inline-block;
  font-size: 1.71429em;
  /*24/14*/
  font-weight: 700;
  margin-right: 0.83333em;
  /*20/24*/
  height: 66px;
  padding-top: 18px;
  text-transform: uppercase;
  text-align: center;
  width: 66px; }

.logo-journey {
  color: #2b414d;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  display: inline;
  margin: 0 0.64286em 0 0; }

.logo-slogan {
  color: #cbcfd1;
  font-family: 'Myriad Pro', 'PT Sans', sans-serif;
  font-size: 0.78571em;
  width: 85px;
  padding-left: 1.36364em;
  border-left: 2px solid #cbcfd1;
  text-transform: uppercase;
  display: inline-block; }

.social-block {
  float: right; }

.social-list {
  margin: 0;
  padding: 0; }
  .social-list li {
    list-style: none;
    display: inline-block;
    color: #fff;
    margin-left: 1.57143em;
    border-radius: 16px;
    height: 32px;
    width: 32px;
    background-color: #cbcfd1; }
    .social-list li:hover {
      background-color: #a2a3a3; }
    .social-list li a {
      display: inline-block;
      height: 32px;
      width: 32px;
      background: url("../images/social_icon.png") 12px 7px no-repeat; }
    .social-list li:nth-child(2) a {
      background-position: -42px 7px; }
    .social-list li:nth-child(3) a {
      background-position: -97px 7px; }

.slider-block {
  position: relative;
  margin-bottom: 90px; }

.slider-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.slider-inner-list {
  overflow: hidden;
  position: relative;
  width: 500%;
  left: 0;
  transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  *zoom: 1; }
  .slider-inner-list li {
    list-style: none;
    float: left; }
    .slider-inner-list li img {
      max-width: 100%;
      height: auto;
      border-radius: 5px; }
  .slider-inner-list:before, .slider-inner-list:after {
    content: "";
    display: table; }
  .slider-inner-list:after {
    clear: both; }

input[type=radio]#slider-nav-btn-1:checked ~ .slider-inner ul {
  left: 0; }

input[type=radio]#slider-nav-btn-2:checked ~ .slider-inner ul {
  left: -940px; }

input[type=radio]#slider-nav-btn-3:checked ~ .slider-inner ul {
  left: -1880px; }

input[type=radio]#slider-nav-btn-4:checked ~ .slider-inner ul {
  left: -2820px; }

.slider-block input[type=radio] {
  position: absolute;
  left: 50%;
  bottom: 15px;
  visibility: hidden;
  z-index: 100; }

.slider-label-nav {
  position: absolute;
  left: 50%;
  bottom: 45px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  z-index: 1000;
  transition: opacity .2s;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
  width: 12px;
  height: 12px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
  border-radius: 50%; }
  .slider-label-nav:hover {
    background-clip: padding-box;
    background-color: #fff; }

.label-nav-1 {
  margin-left: -36px; }

.label-nav-2 {
  margin-left: -18px; }

.label-nav-3 {
  margin-left: 0px; }

.label-nav-4 {
  margin-left: 18px; }

.feature-list {
  *zoom: 1; }
  .feature-list:before, .feature-list:after {
    content: "";
    display: table; }
  .feature-list:after {
    clear: both; }
  .feature-list li {
    float: left;
    list-style: none;
    width: 30.85106%;
    text-align: center;
    margin: 0 0.71429em; }
  .feature-list figure {
    padding-bottom: 20px;
    margin-bottom: 25px; }
  .feature-list figcaption {
    font-size: 1.28571em;
    /*18px/14*/
    text-transform: uppercase;
    margin-top: 2.22222em;
    color: #2b414d; }

.position-block {
  margin-top: 9.04255%;
  padding-top: 9.3617%;
  *zoom: 1; }
  .position-block:before, .position-block:after {
    content: "";
    display: table; }
  .position-block:after {
    clear: both; }

.position-image {
  width: 34.04255%; }

.position-text {
  width: 59.57447%; }
  .position-text header h2 {
    color: #2b414d;
    font-size: 2.71429em; }
  .position-text p {
    font-size: 1.21429em;
    margin: 0 0 30px;
    padding: 0; }

.position-left {
  float: left;
  margin-right: 60px; }

.position-right {
  float: right; }

.position-more-info a {
  color: #e1574b;
  font-size: 1.125rem;
  margin-left: 10px; }
.position-more-info .btm {
  margin-right: 20px; }

.twitter-block {
  background-color: #f8f8f8;
  margin-top: 9.04255%; }

.twitter-section {
  position: relative;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 9.57447% 0;
  overflow: hidden; }

.twitter-slider-list {
  position: relative;
  *zoom: 1; }
  .twitter-slider-list:before, .twitter-slider-list:after {
    content: "";
    display: table; }
  .twitter-slider-list:after {
    clear: both; }
  .twitter-slider-list li {
    float: left;
    list-style: none;
    text-align: center;
    width: 100%; }

.twitter-item-one .twitter-item-one-msg {
  margin-top: 6.38298%;
  color: #2b414d;
  font-size: 1.71429em;
  /*24/14*/ }
  .twitter-item-one .twitter-item-one-msg a:link {
    color: #2b414d;
    text-decoration: underline; }
    .twitter-item-one .twitter-item-one-msg a:link:hover {
      text-decoration: none; }
.twitter-item-one .twitter-item-one-hash {
  color: #777c7f;
  margin-top: 5.31915%; }
  .twitter-item-one .twitter-item-one-hash span {
    margin-left: 5px;
    font-size: 1.14286em; }

.twitter-tab {
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  background-color: #cbcfd1;
  display: inline-block;
  width: 12px;
  height: 12px;
  cursor: pointer; }
  .twitter-tab.twitter-active, .twitter-tab:hover {
    background-color: #e1574b; }

.twitter-tab-1 {
  margin-left: -18px; }

.twitter-tab-2 {
  margin-left: 0px; }

.twitter-tab-3 {
  margin-left: 18px; }

.subscribe-section {
  padding-bottom: 60px;
  text-align: center; }

#subscribe-form #subscribe-email {
  border: 2px solid #ececec;
  border-radius: 5px;
  background-clip: padding-box;
  background-color: #f7f7f7;
  color: #cbcfd1;
  font-size: 1.28571em;
  padding: 15px 20px;
  width: 42.55319%;
  margin-right: 15px; }

.subscribe-text {
  color: #767c7f;
  font-size: 1.21429em; }

@media (max-width: 940px) {
  .header-logo-block, .social-block, .position-left, .position-right {
    float: none; }

  .greeting-block {
    font-size: 1.85714em; }

  .social-block, .slider-block {
    display: none; }

  .features-block {
    border-top: 1px solid #e4e7e7; }

  .feature-list li {
    float: none;
    width: 100%; }

  .position-block {
    text-align: center; }

  .position-left {
    margin: 0; }

  .position-image {
    width: auto; }

  .position-text {
    width: 100%; }
    .position-text header h2 {
      font-size: 2.14286em; }
    .position-text p {
      font-size: 1em; } }
