.position-block{
  margin-top: 85px / $main-pade-width *100%;
  padding-top: 88px / $main-pade-width *100%;
  @include clearfix;
}
.position-image{
  width: 320px / $main-pade-width *100%;
}
.position-text{
  width: 560px / $main-pade-width *100%;
  header h2{
    color: $dark_gray;
    font-size: 38px /$main-fz * 1em;
  }
  p{
    font-size: 17px /$main-fz * 1em;
    margin: 0 0 30px;
    padding: 0;
  }
}
.position-left{
  float: left;
  margin-right: 60px;
}
.position-right{
  float: right;
}
.position-more-info{
  a{
    color: $light_red;
    font-size: 1.125rem;
    margin-left: 10px;
  }
  .btm{
    margin-right: 20px;
  }
}