.slider-block{
  position: relative;
  margin-bottom: 90px;
}
.slider-inner{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slider-inner-list{
  overflow: hidden;
  position: relative;
  width: 500%;
  left: 0;
  transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
  li{
    list-style: none;
    float: left;
    img{
      max-width: 100%;
      height: auto;
      border-radius: 5px;

    }
  }
  @include clearfix;
}
input[type=radio]#slider-nav-btn-1:checked~.slider-inner ul{
  left: 0;
}
input[type=radio]#slider-nav-btn-2:checked~.slider-inner ul{
  left: -940px;
}
input[type=radio]#slider-nav-btn-3:checked~.slider-inner ul{
  left: -1880px;
}
input[type=radio]#slider-nav-btn-4:checked~.slider-inner ul{
  left: -2820px;
}

.slider-block input[type=radio] {
  position: absolute;
  left: 50%;
  bottom: 15px;
  visibility: hidden;
  z-index: 100;
}
.slider-label-nav {
  position: absolute;
  left:50%;
  bottom: 45px;
  background-color: rgba(255,255,255,.5);
  cursor: pointer;
  z-index: 1000;
  transition: opacity .2s;
  text-shadow: 0px 0px 3px rgba(0,0,0,.8);
  width: 12px;
  height: 12px;
  box-shadow: 0px 0px 3px rgba(0,0,0,.8);
  border-radius: 50%;
    &:hover {
      background-clip: padding-box;
      background-color: #fff;
    }
}
.label-nav-1{
  margin-left: -36px;
}
.label-nav-2{
  margin-left: -18px;
}
.label-nav-3{
  margin-left: 0px;
}
.label-nav-4{
  margin-left: 18px;
}