.subscribe-section{
	padding-bottom: 60px;
  	text-align: center;
}
.subscribe-section-header{
}
#subscribe-form{
  #subscribe-email{
  	border: 2px solid #ececec;
	border-radius: 5px;
	background-clip: padding-box;
	background-color: #f7f7f7;
	color: #cbcfd1;
	font-size: 18px / $main-fz * 1em;
	padding: 15px 20px;
	width: 400px / $main-pade-width *100%;
	margin-right: 15px;
  }
}
.subscribe-text{
	color: #767c7f;
	font-size: 17px / $main-fz * 1em;;
}