@media (max-width: 940px) {
	.header-logo-block, .social-block, .position-left, .position-right{
	float:none;
	}
	.greeting-block{
		font-size:26px/$main-fz * 1em;
	}
	.social-block, .slider-block{
	display: none; 
	}
	.features-block{
		border-top: 1px solid $down-middle-brown;
	}
	.feature-list li {
		float: none;
		width: 100%; 
	}
	.position-block{
		text-align: center;
	}
	.position-left{
		margin: 0
	}
	.position-image{
		width: auto;
	}
	.position-text{
		width: 100%; 
		
		header h2{
			font-size: 30px /$main-fz * 1em;
		}
		p{
			font-size: 14px /$main-fz * 1em;
		}
		
	}
}