@import "module/mixed";

$main-font: 'HelveticaNeue', 'Helvetica','Tahoma', 'Arial', 'Lucida Grande', sans-serif;
$main-text-color: #777b7f;
$main-fz:14px;
$main-pade-width:940px;

$light_red:#e1574b;
$dark_gray:#2b414d;
$light_gray:#777c7f;
$light_brown:#cbcfd1;
$middle_brown:#a2a3a3;
$down-middle-brown:#e4e7e7;
$dark_gloomy: #2b414d;
$light_beige: #f8f8f8;

body{
  background-color: #fff;
  background: #fff url('../images/bale_img.jpg') no-repeat bottom center;
  background-size: 100%;
  color: $main-text-color;
  font: $main-fz $main-font;
  padding: 0;
  padding-bottom: 315px / $main-pade-width *100%;
  margin: 0;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}
b, strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
ul{
  margin: 0;
  padding: 0;
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
a:link{
  text-decoration: none;
  color: $light_red;
}
a:hover{
  text-decoration: underline;
}

h2{
  color: $dark_gray;
  font-size: 38px / $main-fz * 1em;
}

#page{
  width: 100%;
  max-width: $main-pade-width;
  margin: 50px /$main-fz * 1em auto 0 auto;
}

#main-content{
  margin-top: 50px /$main-fz * 1em; /*50px /14*/
}
.greeting-block{
  color: $dark_gray;
  font-size:30px/$main-fz * 1em;  /*30px / 14*/;
  text-align: center;
}
.bottom-page{
	width: 100%; 
  max-width: $main-pade-width;
	margin: 0 auto;
}
.bottom-social-icon{
	margin-top: 55px; 
	text-align: center;
}



.top-border{
  border-top: 1px solid $down-middle-brown;
}

.bottom-small-line{
	background:url('../images/feature_line_img.png') no-repeat bottom center;
}
.btn{
  border:none;
  border-radius: 5px;
  background-clip: padding-box;
  font-size: 1.125rem; /*18/16*/
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  cursor: pointer;
    &:focus{
      outline: none;
    }
}
.btn-red{
  background-color: $light_red;
}
input{
	outline:none;
}
 
@import "header/header";
@import "slider/slider";
@import "features/feature";
@import "position_img/position";
@import "twitter/twitter";
@import "subscribe/subscribe";
@import "media";
