#header{
  @include clearfix;
}
.header-logo-block{
  float: left;
}
.logo-my{
  border-radius: 50%;
  background-clip: padding-box;
  background-color: $light_red;
  box-sizing: padding-box;
  color:#fff;
  display: inline-block;
  font-size: 24px / $main-fz * 1em; /*24/14*/
  font-weight: 700;
  margin-right: 20px / 24px * 1em; /*20/24*/
  height: 66px;
  padding-top: 18px;
  text-transform: uppercase;
  text-align: center;
  width: 66px;
  
}
.logo-journey{
  color: $dark_gray;
  font-size: 28px/$main-fz * 1em;
  font-weight: 700;
  text-transform: uppercase;
  display: inline;
  margin: 0 18px / 28px * 1em 0 0;
}
.logo-slogan{
  color:$light_brown;
  font-family: 'Myriad Pro', 'PT Sans', sans-serif;
  font-size: 11px/$main-fz * 1em;
  width: 85px;
  padding-left: 15px / 11px *1em;
  border-left: 2px solid $light_brown;
  text-transform: uppercase;
  display: inline-block;
}
.social-block{
  float: right;
}
.social-list{
  margin: 0;
  padding: 0;
    li {
      list-style: none;
      display: inline-block;
      color: #fff;
      margin-left: 22px / $main-fz *1em;
      border-radius: 16px;
      height: 32px;
      width: 32px;
      background-color: $light_brown;
        &:hover{
          background-color: $middle_brown;
        }
        a{
          display: inline-block;
          height: 32px;
          width: 32px;
          background: url('../images/social_icon.png') 12px 7px no-repeat;
        }
        &:nth-child(2) a{
          background-position: -42px 7px;
        }
        &:nth-child(3) a{
          background-position: -97px 7px;
        }
    }
}

