.feature-list{
  @include clearfix;

    li{
      float: left;
      list-style: none ;
      width: 290px / $main-pade-width * 100%;
      text-align: center;
      margin: 0 10px / $main-fz * 1em;
    }
    figure{
      padding-bottom: 20px;
      margin-bottom: 25px;
    }
    figcaption{
      font-size:18px / $main-fz * 1em;  /*18px/14*/;
      text-transform: uppercase;
      margin-top: 40px / 18px * 1em;
      color: $dark_gloomy;
    }
}